<div class="form-group row">
    <label for="@Name" class="col-sm-8 col-form-label">@Label:</label>
    <div class="col-sm-8">
        <input name="@Name" type="date" value="@ValueStr" @onchange="@(e => OnValueChanged(e.Value))" />
    </div>
</div>

@code {
    private string ValueStr => Value.ToString("yyyy-MM-dd");

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public DateTime Value { get; set; } = DateTime.UtcNow;

    [Parameter]
    public EventCallback<DateTime> ValueChanged { get; set; }

    protected async Task OnValueChanged(object? newDate)
    {
        Value = DateTime.Parse((string)newDate);
        await ValueChanged.InvokeAsync(Value);
    }
}
